body {
    background-color: hsl(30, 38%, 92%)
}

.flexbox-container {

}

.flexbox-item {
    width: 600px;
    height: 400px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(30, 38%, 92%);
    border-radius: 2%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;

}